

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><h1>TweetMap</h1></title>
</head>
<body>

<p>Please input a <strong>topic</strong> you are interested in! Could be <b>a word or a sentence in any language </b>you like! </p>
<p>You will get the <b>most recent 50</b> tweets with sentiment. Green stands for positive sentiment and red for negative.</p>
<p>Click the pins, you will see the <b>locations</b> and the value of <b>sentiments</b> range from -1 to 1.</p>
<form action="/map/" method = 'get'>
    <strong>Topic:</strong><input type="text" name = "word">
    <input type="submit" value="submit">
</form>

</body>
</html>